* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 7vh;
    background-color: #000;
}

.section1 {
    padding-top: 2vh;
    height: 20vh;
    background-color: #c6bfbf;
}

.section1 h1{
    margin-top: 2vh;
    margin-left: 12vw;
    margin-right: 12vw;
}

.section1 p {
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.section2 {
    margin-top: 1vh;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 66vh;
    
    display: flex;
}

.section2 article:nth-child(2) {
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    height: 7vh;
    background-color: #0b4d14;
    display: flex;
    justify-content: space-between;
}

header ul {
    height: 7vh;
    line-height: 7vh;
    display: flex;
}

footer ul {
    height: 7vh;
    line-height: 7vh;
    display: flex;
}

header ul {
    list-style: none;
    position: relative;
    left: 10%;
    width: 30%;
    justify-content: space-between;
}

footer ul {
    list-style: none;
    width: 18%;
    justify-content: space-between;
}

footer ul:nth-child(1) {
    position: relative;
    left: 10%;
}

footer ul:nth-child(2) {
    position: relative;
    right: 10%;
}

a {
    color: white;
    text-decoration: none;
}

.section1 a {
    color: blue;
    text-decoration: underline;
}

